body,input,form,p,pre,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
ul,li,ol,dl,dt,dd{margin:0;padding:0;list-style: none;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="button"],button,a{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{border: 0;}
body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-user-select:none;}
input,textarea{outline: none;}
html,body{width: 100%;}

.czz-top{width:100%;height:569px;background:url(../img/top.png) no-repeat center center}
.abcd{width: 1200px;height: 100%;margin: 0 auto;position: relative;}
.czz-center{width:100%;height:1220px;background:url(../img/zx.png)no-repeat bottom;}

.czz-tp{width:1200px;height:1115px;margin:0 auto;padding-top:105px}
.czz-tp img{width:100%;height:1115px}
.czz-footer{width:100%;height:160px;background:#fff}
.czz-jk{width:350px;height:50px;border-radius: 5px;background:#FD9C29;font-size:20px;line-height:50px;text-align: center;border:0;color:#fff;position: absolute;left:425px;top:45px;}
.czz-fc{width:980px;height:100%;margin: 0 auto;padding-left: 220px;position: relative;}
.czz-fc p{font-size:16px;line-height: 36px;color:#fff;}
.czz-iphone{position:relative;width:126px;height:48px;border-radius: 4px;font-size:18px;padding-left:32px;background:url(../img/iphone.png)no-repeat center center;background-position: 30px 13px;color:#fff;border:1px solid #fff;text-align:center;line-height: 50px;position: absolute;left: 112px;top: 268px}

/*.czz-i{width:16px;height:22px;margin-right:6px;display:inline-block;background:url(../img/iphone.png)no-repeat center center;background-position: 0px 0px;}*/
/*.czz-a{width:16px;height:22px;margin-right:6px;display:inline-block;background:url(../img/android.png)no-repeat center center;background-position: 0px 0px;}*/

.czz-az{position:relative;width:126px;height:48px;border-radius: 4px;font-size:18px;padding-left:32px;background:url(../img/android.png)no-repeat center center;background-position: 28px 13px;color:#fff;border:1px solid #fff;text-align:center;line-height: 50px;position: absolute;left: 112px;top: 336px}

.erweima{width: 116px;height:116px;position: absolute;top:268px;left: 310px}
.erweima img{width: 116px;height:116px;}
.czz-iphone:hover{background:#fff url(../img/iphone.png)no-repeat center center;background-position: 30px -7px;color:#ff971b;}
/*.czz-iphone:hover i{background:url(../img/iphone.png)no-repeat center center;background-position: 0px -25px;}*/

.czz-az:hover{background:#fff url(../img/android.png)no-repeat center center;background-position: 28px -7px;color:#ff971b;}
/*.czz-az:hover i{background:url(../img/android.png)no-repeat center center;background-position: 0px -20px;}*/

.czzinner{width: 1200px;height: 100%;margin: 0 auto;position: relative;}
.czz-fcbox{width: 100%;height:120px;background: #000;opacity: .7;position: fixed;bottom: 0;z-index: 1}
.close{width: 18px;height: 20px;position: absolute;right: 110px;top: 16px;}
.czz-fcbox .czz-fc .footer{width: 188px;height: 96px;position: absolute;z-index:9999;right: 220px;top: 12px;}