@-webkit-keyframes move{
    0%{
      -webkit-transform:translateY(20px);
    }
    100%{
      -webkit-transform:translateY(0);
    }
}

@keyframes move{
    0%{
      transform:translateY(20px);
    }
    100%{
      transform:translateY(0);
    }
}



@-webkit-keyframes top{
    0%{
      -webkit-transform:translateY(50px);
      opacity:0;
    }
    100%{
      -webkit-transform:translateY(0);
       opacity:1;
    }
}

@keyframes top{
    0%{
      transform:translateY(50px);
      opacity:0;
    }
    100%{
       transform:translateY(0);
       opacity:1;
    }
}



@-webkit-keyframes scale{
    0%{
      -webkit-transform:scale(0);
      opacity:0;
    }
    100%{
      -webkit-transform:scale(1);
       opacity:1;
    }
}

@keyframes scale{
   0%{
      transform:scale(0);
      opacity:0;
    }
    100%{
       transform:scale(1);
       opacity:1;
    }
}















*{margin:0;padding:0;}
html,body{width:100%;height:100%;overflow:hidden;}
li{list-style:none;}
#box{
  width:100%;height:100%;
  overflow:hidden;
}
#list{
  transition:1s;
}
#list li{
  width:100%;
  overflow: hidden;
  background:url(../images/bg.png) no-repeat center center;
  background-size: cover;
  position:relative;
}

#list li .img{
  width:949px;
  height:755px;
  position:absolute;
  left:50%;
  top:60%;
  margin-left:-474px;
  margin-top:-377px;
  background:url(../images/content.png) no-repeat;
}
#list li .imgbox2,#list li .imgbox3{
  background:url(../images/content2.png) no-repeat;
}
.img img{
	margin:0 auto;
	display:block;
  -webkit-transform:translateY(50px);
  -moz-transform:translateY(50px);
  transform:translateY(50px);
  opacity:0;
}
/* #list li.active .img img{
    -webkit-animation: top 0.5s  ease forwards;
    animation:top 0.5s  ease forwards;
} */
.imgbox1 .img1{
   margin-top:90px;
}
.imgbox1 .img2{
   margin-top:80px;
}
#list li.active .img1{
    -webkit-animation: top 0.5s  ease forwards;
    animation:top 0.5s  ease forwards;
}
#list li.active .img2{
    -webkit-animation: top 0.5s 0.5s ease forwards;
    animation:top 0.5s 0.5s ease forwards;
}
#list li.active .img3{
    -webkit-animation: top 0.5s 1s ease forwards;
    animation:top 0.5s 1s ease forwards;
}
.imgbox1 .img3{
   margin-top:10px;
}

.imgbox2 .img1{
   margin-top:90px;
}
.imgbox2 .img2{
     margin-top:120px;
}
.imgbox2 .img3{
     margin-top:20px;
}
.imgbox3 .img1{
  margin-top:90px;
}
.imgbox3 .img2{
  margin-top:116px;
}
.imgbox3 .img3{
     margin-top:20px;
}
.icon1{
  position:fixed;
  left:8%;
  top:30%;
  width:91px;
  height:104px;
  background:url(../images/icon1.png) no-repeat;
  -webkit-animation: move 1.5s linear infinite alternate;
  animation: move 1.5s infinite linear alternate;
}
.icon2{
  position:fixed;
  left:10%;
  top:70%;
  width:49px;
  height:49px;
  background:url(../images/icon2.png) no-repeat;
  -webkit-animation: move 1.5s linear infinite alternate;
  animation: move 1.5s infinite linear alternate;
}
.icon3{
  position:fixed;
  right:10%;
  top:40%;
  width:60px;
  height:61px;
  background:url(../images/icon3.png) no-repeat;
    -webkit-animation: move 1.5s linear infinite alternate;
  animation: move 1.5s infinite linear alternate;
}
.icon4{
  position:fixed;
  right:15%;
  top:70%;
  width:63px;
  height:73px;
  background:url(../images/icon4.png) no-repeat;
    -webkit-animation: move 1.5s linear infinite alternate;
  animation: move 1.5s infinite linear alternate;
}

#arrow{
  width:38px;
  height:44px;
  position:fixed;
  margin-left:-19px;
  left:50%;
  bottom:5%;
  background:url(../images/arrow.png) no-repeat;
      -webkit-animation: move 1.5s linear infinite alternate;
  animation: move 1.5s infinite linear alternate;
}
#arrow.up{
    background:url(../images/arrow1.png) no-repeat;
}

.imgbox4 img {
    margin:130px auto;
    display: block;
    opacity:0;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transform:scale(0);
  
}

#list li.active .img4{
    -webkit-animation: scale 0.5s ease forwards;
    animation:scale 0.5s ease forwards;
}