.wholebox{
	width: 100%;
	height: auto;
}
 html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 3.4rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet{
	width: .2rem;
	border-radius: 0;
	height: .02rem;
}
.section1{
	width: 100%;
	height: 1.8rem;
	background: #fff;
	border-bottom: .01rem solid rgb(236,236,236);
}
.sort{
	width: 25%;
	height: 100%;
	float: left;
}
.icon{
	width: .78rem;
	height: .78rem;
	background: green;
	margin: 0 auto;
	margin-top: .32rem;
}
.sort p{
	width: 100%;
	height: .26rem;
	text-align: center;
	line-height: .26rem;
	font-size: .26rem;
	color: #666;
	margin-top: .11rem;
}
.section2{
	width: 100%;
	height: .7rem;
	background: #fff;
}
.swipercontainer{
	width: 100%;
	height: .7rem;
}
.notice{
	width: .6rem;
	height: .28rem;
	float: left;
	margin-top: .21rem;
	padding-left: .3rem;
	margin-right: .3rem;
}
.notice img{
	width: .3rem;
	height: .28rem;
	
}
.secondswiper{
	width: 6.3rem;
	height: 100%;
	float: left;
}
.prize{
	width: 100%;
	height: 100%;
	float: left;
	text-align: left;
	line-height: .78rem;
	font-size: .24rem;
	color: rgb(102,102,102);
}
.swiperslide a{
	display: inline-block;
	text-decoration: none;
	color: rgb(30,130,210);
	margin-top: .07rem;
}
.swiperslide img{
	display: block;
	float: left!important;
}
.content{
	width: 100%;
	height: auto;
}
.tab{
	width: 100%;
	height: .9rem;
	background: red;
	margin-top: .18rem;
	border-bottom: .01rem solid rgb(236,236,236);
}
.tabhalf{
	width: 50%;
	height: 100%;
	background: blue;
	float: left;
}
.tabmiddle{
	width: 1.5rem;
	height: 100%;
	margin: 0 auto;
	background: green;
	text-align: center;
	line-height: .9rem;
	font-size: .3rem;
}
.tabmiddle1{
	color: rgb(255,151,27);
	border-bottom: .02rem solid rgb(255,151,27);
}
.tabmiddle2{
	color: rgb(51,51,51);
	border-bottom: none;
}
.goodsbox{
	width: 50%;
	height: 4.5rem;
	float: left;
	background: red;
	border-right: .01rem solid rgb(236,236,236);
}
.goodspic{
	width: 2.2rem;
	height: 2.2rem;
	background: blue;
	margin: .5rem auto 0rem;
}
.brief{
	width: 97%;
	font-size: .24rem;
	padding-right: 3%;
	color: rgb(51,51,51);
	text-align: left;
	margin-top: .3rem;
	text-indent: .1rem;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.progress{
	width: 100%;
	font-size: .24rem;
	color: rgb(51,51,51);
	text-align: left;
	margin-top: .3rem;
	text-indent: .1rem;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.progress p{
	display: inline-block;
	text-decoration: none;
	color: rgb(255,0,0);
	margin-top: .07rem;
	font-size: .24rem;
}
