body{background:rgb(244,244,244);font-size:0.26rem}
dl{
	width:6.9rem;
	height:2.7rem;
	background:#fff;
	margin:0.2rem auto;
	padding:0.5rem 0 0 0.4rem;
	box-sizing:border-box;
}
dl dt{
	float:left;
	width:1.7rem;
	height:1.7rem;
	background:#ccc;
}
dl dd{
	float:left;
	font-size:0.28rem;
	padding-left:0.35rem;
}
dl dd p{
	padding-bottom:0.27rem;
}
dl dd p .orange{
	color:rgb(255,151,27);
}
ul{
	width:6.9rem;
	background:#fff;
	margin:0 auto;
}
ul li{
	width:6.15rem;
	height:1rem;
	line-height:1rem;
	border-bottom:1px solid rgb(236,236,236);
	margin:0 auto;
}
ul li span{
	float: left;
}
ul li strong{
	float: right;
	color:rgb(255,151,27);
	font-weight:normal;
}
ul li strong.gray{
	color:rgb(153,153,153);
}
.btn{
	display:block;
	width:6rem;
	height:0.88rem;
	text-align: center;
	line-height: 0.88rem;
	color:#fff;
	font-size:0.34rem;
	background:rgb(255,151,27);
	margin:0.8rem auto;
    border-radius:0.1rem;
}