*{margin:0;padding:0}
body{font-family:"微软雅黑";background:#5363f5;}
li{list-style:none;}
.banner{
	width:100%;
	min-width:1200px;
	height:450px;
	background:url(../images/banner.png) no-repeat center top;
}
.title{
	padding-top:65px;
	padding-bottom:65px;
	text-align: center;
}
.nav{
	width:722px;
	height:168px;
	margin:0 auto;
	background:url(../images/navbg.png) no-repeat;
}
.nav div{
	width:335px;
	height:168px;
	float: left;
	text-align: center;
	color:#fff;
	font-size:24px;
}
.nav div.right{
	float: right;
}
.nav div p{
	padding-top:40px;
}
.nav div h4{
	font-weight:normal;
	font-size:38px;
	padding-top:10px;
}
.nav div h4.orange{
	color:#ffd200;
}

.content{
	width:1200px;
	height:2770px;
	background:#4b5cf0;
	margin:70px auto 50px;
	position:relative;
}
.content .zs1{
	position:absolute;
	top:257px;
	left:-185px;
	width:160px;
	height:98px;
	background:url(../images/zs1.png) no-repeat;
}
.content .zs2{
	position:absolute;
	top:750px;
	right:-267px;
	width:160px;
	height:98px;
	background:url(../images/zs2.png) no-repeat;
}
.content .title{
	padding:50px 0 70px;
}
#tab{
    width: 640px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 40px;
    padding-left: 105px;
    box-sizing: border-box;
    background: url(../images/line.png) no-repeat center top;
}
#tab li{
	font-size:24px;
	color:#bababa;
	float:left;
	margin-right:80px;
	width:178px;
	height:112px;
	padding-top:30px;
	text-align:center;
	box-sizing:border-box;
	cursor:pointer;
	background:url(../images/tbg.png) no-repeat center top;
}
#tab li.active{
	color:#fff;
	background:url(../images/tbg_active.png) no-repeat center top;
}
.line{
	position:relative;
	width:1200px;
	height:1924px;
}
#line{
	width:8px;
	height:1924px;
	background:rgba(255,255,255,0.2);
	position:absolute;
	left:605px;
	border-radius:5px;
	overflow: hidden;
}
#line p{
	position:absolute;
	width:8px;
	background:#4253e8;
	left:0;
    bottom:0;
}
.line li{
	overflow: hidden;
}
.line li .img{
	float: left;
}
.line li .img p{
	font-size:20px;
	width:280px;
	text-align: center;
	color:#fff;
	padding-top:15px;
	line-height:36px;
}
.line li .info{
	float: left;
	margin:20px 0 0 20px;
}
.line li .info .line-border{
	width:229px;
	height:8px;
	background:#fff;
	opacity:0.2;
	border-radius:5px;
}
.line li .info  h4{
	width:229px;
	text-align:left;
	font-size:20px;
	color:#fff;
	padding-top:10px;
	font-weight:normal;
	line-height:36px;
}
.line li .info  h4 span{
	font-size:24px;
	color:#ffd200;
}
.line li.cur p{
	color:#ffd200;
}
.line li.li1{
  position:absolute;
  top:400px;
  left:52px;
}
.line li.li2{
  position:absolute;
  top:1000px;
  left:52px;
}
.line li.li3{
  position:absolute;
  top:1600px;
  left:52px;
}

.line li.li4{
    position: absolute;
    top:100px;
    left:617px;
}
.line li.li5{
  position:absolute;
  top:700px;
  left:617px;
}
.line li.li6{
  position:absolute;
  top:1300px;
  left:617px;
}
.right li .img{
  margin-left:20px;
}
.line .end{
    font-size:20px;
	color:#ffd200;
	font-weight:normal;
	position:absolute;
	top:-40px;
	left:565px;
}
.line .start{
    font-size:20px;
	color:#ffd200;
	font-weight:normal;
	position:absolute;
	top:1940px;
	left:595px;
}
.circle span{
	position:absolute;
	left:588px;
    width:42px;
	height:42px;
	background:url(../images/cirle.png) no-repeat;
}
.circle .span1{
	bottom:1780px;
}
.circle .span2{
	bottom:1480px;
}
.circle .span3{
	bottom:1180px;
}
.circle .span4{
	bottom:880px;
}
.circle .span5{
	bottom:580px;
}
.circle .span6{
	bottom:280px;
}

.text{
	color:#fff;
	font-size:18px;
	padding:120px 0 0 65px;
}
.text p{
	padding-bottom:15px;
}
.text li{
	padding-bottom:10px
}

#yz,#yz1{
	height:80px;
	position:absolute;

}
#yz.left,#yz1.left{
	left:357px;
}
#yz.right,#yz1.right{
	left:566px;
}
#yz p,#yz1 p{
	width:200px;
	text-align: right;
}

#yz.left p,#yz1.left p{
	float: left;
	font-size:20px;
	color:#fff;
	line-height:80px;
	margin-right:10px;
}
#yz.right p,#yz1.right p{
	float: right;
	font-size:20px;
	color:#fff;
	line-height:80px;
	margin-left:15px;
	text-align:left;
}
#yz p span,#yz1 p span{
	font-size:24px;
	color:#ffd200;
}