@charset "utf-8";
/* CSS 初始化 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font-family: "微软雅黑","MicroSoft YaHei","Arial Narrow","HELVETICA"; font-size:14px; padding:0; margin:0; color:#666;}
table{border-collapse:collapse;border-spacing:0;}
ul,li{ margin:0px; padding:0px; list-style:none; }
img{border:none;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0;}
.clear{ clear:both; margin:0; padding:0;}
a{text-decoration:none; color:#666;}
html{overflow-x:hidden;-webkit-text-size-adjust:none;height: 100%;width: 100%;}

input{border:none;}
input,textarea{background:#FFF;outline:none;}
textarea{overflow-y:auto;}
em,i{ font-style:normal;}
body{ background:#fafafa;height: 100%;width: 100%;}
.clear{clear:both; overflow:hidden;height:1px;margin-top:-1px;font-size:0;/*background:#F00; */}

.banner{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background: url(../images/banner.png) no-repeat center center;
}
.dahezi{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.content1{
	width: 100%;
	height: 614px;
	margin: 0 auto;
	background: url(../images/content1.png) no-repeat center center;
}
.title{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	float: left;
	margin-top: 60px;
}
.innerbox{
	width: 740px;
	height: 100%;
	margin: 0 auto;
}
.left{
	width: 120px;
	height: 2px;
	background: #5B87CE;
	float: left;
	margin-top: 29px;
	margin-right: 38px;
}
.right{
	width: 120px;
	height: 2px;
	background: #5B87CE;
	float: right;
	margin-top: 29px;
}
.innerbox p{
	font-family: "微软雅黑";
	font-size: 36px;
	float: left;
	color: #3A5CA2;
	line-height: 60px;
}
.wenzibox{
	width: 1130px;
	height: 554px;
	margin: 0 auto;
}
.wenzi{
	width: 840px;
	height: 494px;
	float: left;
}
.wenzi p{
	font-family: "微软雅黑";
	font-size: 18px;
	text-indent: 40px;
	line-height: 36px;
	color: #55595C;
	margin-top: 20px;
}
.tupian{
	width: 242px;
	height: 362px;
	float: right;
	margin-top: 60px;
	transition: margin-top 200ms 200ms;
	-webkit-transition: margin-top 200ms 200ms;
	font-size: 0;
	line-height: 0;
}
.tupian:hover{
	margin-top: 55px;
	box-shadow: 0 0 8px 3px #9c9c9c; 
}
.content2{
	width: 100%;
	height: 653px;
	margin: 0 auto;
	background: url(../images/content2.png) no-repeat center center;
}
.yiyibox{
	width: 1140px;
	height: 513px;
	margin: 0 auto;
}
.yiyicontent1{
	width: 252px;
	height: 453px;
	float: left;
	padding-top: 60px;
}
.dongxiaotubox{
	width: 116px;
	height: 116px;
	margin: 0 auto;
}
.dongxiaotu{
	width: 112px;
	height: 112px;
	border-radius: 50%;
	border: 2px solid #CACD55;
}
.imgbox{
	width: 56px;
	height: 52px;
	margin: 32px auto;
	transition: transform 900ms 100ms;
	-webkit-transition: transform 900ms 100ms;
}
.dongxiaotu:hover .imgbox{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
}
.title1{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	margin-top: 16px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #E9C700;
}
.followword{
	width: 100%;
	height: auto;
	float: left;
	text-align: left;
	margin-top: 20px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #C9D9F1;
}
.content3{
	width: 100%;
	height: 523px;
	margin: 0 auto;
	background: url(../images/content3.png) no-repeat center center;
}
.box{
	width: 1140px;
	height: 252px;
	margin: 0px auto;
}
.gongyuebox{
	width: 1140px;
	height: 252px;
	float: left;
	margin-top: 40px;
}
.gongyuebox p{
	font-family: "微软雅黑";
	font-size: 18px;
	text-indent: 40px;
	line-height: 36px;
	color: #55595C;
	margin-top: 10px;
	margin-bottom: 10px;
}


