ody,input,form,p,pre,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
ul,li,ol,dl,dt,dd,img{margin:0;padding:0;list-style: none;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="button"],button,a{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{border: 0;}
body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-user-select:none;}
input,textarea{outline: none;}
html,body{width: 100%;height:100%}
*{margin: 0;padding:0}

.swiper-container {width: 100%;height: 100%;}  
.czz-sy{width:100%;height:100%}
.czz-nr{width:100%;height:100%}
.czz-bj{width:100%;height:88%;background:url(../img/content.png) no-repeat center center;background-size:100% 100%}
/*.czz-bj span{width:.6rem;height:.3rem;display:inline-block;margin:140% 39% 0 46%}
.czz-bj span img{width:100%;height:100%}*/
.czz-cn{width:90%;height:82%;padding:0 5% 0 5%}
.czz-bt{font-size:.2rem;line-height:.4rem;text-align: center;color:#ff971b;letter-spacing: inherit;}
.czz-dl{font-size:.14rem;line-height:.2rem;text-indent: .15rem;color:#989898;}
.czz-footer{width:100%;height:13%;background:url(../img/footer.png) no-repeat center center;background-size:cover;padding-top:10%}
.czz-footer a{color:#ff971b;}
.czz-footer p{width:2rem;height:.4rem;line-height:.4rem;font-size:.14rem;background:#fff;border-radius: .5rem;text-align: center;margin:0 auto;}
@-moz-keyframes myMove {
  0% {padding-top:.6rem;}
  100% {padding-top:1.5rem;}
}
@-webkit-keyframes myMove {
  0% {padding-top:.6rem;}
  100% {padding-top:1.5rem;}
}
@-o-keyframes myMove {
  0% {padding-top:.6rem;}
  100% {padding-top:1.5rem;}
}
@keyframes myMove {
  0% {padding-top:.6rem;}
  100% {padding-top:1.5rem;}
}
#down img{
	margin:128% 0 0 46%;
  width:.25rem;height:.13rem;
  -moz-animation: myMove 1s linear infinite alternate; 
  -webkit-animation: myMove 1s linear infinite alternate;
  -o-animation: myMove 1s linear infinite alternate;
  animation: myMove 1s linear infinite alternate;
}
/*@media (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2){
iphone6
.czz-bt{font-size:1.4rem;line-height:2.6rem;text-align: center;color:#ff971b;letter-spacing: inherit;}
.czz-dl{font-size:.9rem;line-height:1.6rem;text-indent: 1.85rem;color:#989898;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
 兼容iphone5 
#down img{
	margin:122% 0 0 46%;
  width:2rem;height:1.3rem;
  -moz-animation: myMove 1s linear infinite alternate; 
  -webkit-animation: myMove 1s linear infinite alternate;
  -o-animation: myMove 1s linear infinite alternate;
  animation: myMove 1s linear infinite alternate;
}
.czz-bt{font-size:1.2rem;line-height:2.5rem;text-align: center;color:#ff971b;letter-spacing: inherit;}
.czz-dl{font-size:.8rem;line-height:1.4rem;text-indent: 1rem;color:#989898;}}
@media (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3){
iphone6plus
.czz-bt{font-size:1.6rem;line-height:3rem;text-align: center;color:#ff971b;letter-spacing: inherit;}
.czz-dl{font-size:1rem;line-height:1.8rem;text-indent: 1.85rem;color:#989898;}
}*/