.section{
    position:relative;
    font-family:"微软雅黑";
    font: 16px/1.8 "Microsoft Yahei",verdana;
    cursor: pointer;
}
/*       第一屏     */
.bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.bg img{
    width:100%;
    height:100%;
}
.bg11{
    width:100%;
    height:57px;
    position:absolute;
    left:0;
    top:3%;
    opacity:0;
    background:url(../img/bg11.png) no-repeat center 0;
    transition:all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg11{
    opacity:1;
    top:8%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg12{
    position: absolute;
    left:-15.6%;
    top: 30.7%;
    width: 100%;
    height: 144px;
    background: url(../img/bg12.png) center 0 no-repeat;
    opacity: 0;
    transition: all 1.7s;
    -webkit-transition: all 1.7s;
	-o-transition: all 1.7s;
	-moz-transition: all 1.7s;
}
.active .bg12 {
    opacity: 1;
    left: -4%;
    transition-delay: 0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg13{
    width:100%;
    height:144px;
    position:absolute;
    right:-15.6%;
    top:45.3%;
    background:url(../img/bg13.png) no-repeat center 0;
    opacity:0;
    transition:all 1.7s;
    -webkit-transition: all 1.7s;
	-o-transition: all 1.7s;
	-moz-transition: all 1.7s;
}
.active .bg13 {
	right: -4%;
    opacity: 1;
    transition-delay: 0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg14{
    width:100%;
    height:93px;
    position:absolute;
    right:0;
    top:68.8%;
    perspective: 500px;
	-webkit-perspective: 1200px;
    background:url(../img/bg14.png) no-repeat center 0;
    transition:all 1.7s;
    -webkit-transition: all 1.7s;
	-o-transition: all 1.7s;
	-moz-transition: all 1.7s;
}
.active .bg14 {
	transform: rotateX(360deg);
    transition-delay: 0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}

/*      第二屏        */
.bg21{
    width:100%;
    height:126px;
    position:absolute;
    left:0;
    top:3%;
    background:url(../img/bg21.png) no-repeat center 0;
    transition: all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
    opacity: 0;
}
.active .bg21{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg2out{
	width: 100%;
	height: 160px;
	position: absolute;
	top: 45.8%;
}
.bg2{
	width: 767px;
	height: 160px;
	margin: 0 auto;
	position: relative;
}
.bg22{
    width:100%;
    height:160px;
    margin: 0 auto;
    position:relative;
    background:url(../img/bg22.png) no-repeat center 0;
    transition: all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
    opacity: 0;
}
.active .bg22{
    opacity:1;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg22 p{
	position: absolute;
	font-size: 20px;
	color: #94E9FF;
	opacity: 0;
}
.p1{
	left: 4px;
	top: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p1{
    opacity:1;
    transition-delay:0.9s;
    -webkit-transition-delay:0.9s;
	-o-transition-delay:0.9s;
	-moz-transition-delay:0.9s;
}
.p2{
	left: 90px;
	bottom: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p2{
    opacity:1;
    transition-delay:1.1s;
    -webkit-transition-delay:1.1s;
	-o-transition-delay:1.1s;
	-moz-transition-delay:1.1s;
}
.p3{
	left: 176px;
	top: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p3{
    opacity:1;
    transition-delay:1.3s;
    -webkit-transition-delay:1.3s;
	-o-transition-delay:1.3s;
	-moz-transition-delay:1.3s;
}
.p4{
	left: 294px;
	bottom: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p4{
    opacity:1;
    transition-delay:1.5s;
    -webkit-transition-delay:1.5s;
	-o-transition-delay:1.5s;
	-moz-transition-delay:1.5s;
}
.p5{
	left: 372px;
	top: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p5{
    opacity:1;
    transition-delay:1.7s;
    -webkit-transition-delay:1.7s;
	-o-transition-delay:1.7s;
	-moz-transition-delay:1.7s;
}
.p6{
	left: 472px;
	bottom: -40px;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p6{
    opacity:1;
    transition-delay:1.9s;
    -webkit-transition-delay:1.9s;
	-o-transition-delay:1.9s;
	-moz-transition-delay:1.9s;
}
.bg22 .p7{
	left: 588px;
	top: -40px;
	color: #5F9BAF;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p7{
    opacity:1;
    transition-delay:2.1s;
    -webkit-transition-delay:2.1s;
	-o-transition-delay:2.1s;
	-moz-transition-delay:2.1s;
}
.bg22 .p8{
	left: 684px;
	bottom: -40px;
	color: #5F9BAF;
	transition:all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
}
.active .p8{
    opacity:1;
    transition-delay:2.3s;
    -webkit-transition-delay:2.3s;
	-o-transition-delay:2.3s;
	-moz-transition-delay:2.3s;
}
.s1{
	position: absolute;
	left: 32px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s2{
	position: absolute;
	left: 130px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s3{
	position: absolute;
	left: 228px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s4{
	position: absolute;
	left: 326px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s5{
	position: absolute;
	left: 424px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s6{
	position: absolute;
	left: 522px;
	top: 70px;
	width: 18px;
	height: 20px;
	background: url(../img/s1.png) no-repeat center center;
}
.s7{
	position: absolute;
	left: 620px;
	top: 70px;
	width: 18px;
	height: 20px;
	z-index: 9999;
}
.s8{
	position: absolute;
	left: 717px;
	top: 70px;
	width: 18px;
	z-index: 9999;
	height: 20px;
}
.active .ss{
	animation: ss 1s linear infinite;
	-moz-animation: ss 1s linear infinite; /* Firefox */
	-webkit-animation: ss 1s linear infinite; /* Safari 和 Chrome */
	-o-animation: ss 1s linear infinite; /* Opera */
}
@-moz-keyframes ss{
    0%{
      -moz-transform:scale(1,1);
     }
     50%{
     	-moz-transform:scale(0.4,0.4);
     }
     100%{
       -moz-transform:scale(1,1);
     }
  }
  @-webkit-keyframes ss{
    0%{
      -webkit-transform:scale(1,1);
     }
     50%{
     	-webkit-transform:scale(0.4,0.4);
     }
     100%{
       -webkit-transform:scale(1,1);
     }
  }
  @keyframes ss{
    0%{
      transform:scale(1,1);
     }
     50%{
     	transform:scale(0.4,0.4);
     }
     100%{
       transform:scale(1,1);
     }
  }

/*      第三屏       */
.bg31{
    width:100%;
    height: 126px;
    position:absolute;
    left:0;
    top:3%;
    background:url(../img/bg31.png) no-repeat center 0;
    opacity:0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg31{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg32{
    width:100%;
    height: 348px;
    position:absolute;
    top:35%;
    background:url(../img/bg32.png) no-repeat center 0;
}
.bg32 p{
	width: 450px;
	height: 348px;
	margin: 0 auto;
	padding-top: 130px;
	font-size: 12px;
	color: #B6EBF9;
	line-height: 30px;
	transform: scale(0.1);
	-ms-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	-o-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transition: transform 1000ms 500ms;
	-webkit-transition:-webkit-transform 1000ms 500ms;
	-o-transition: transform 1000ms 500ms;
	-moz-transition: transform 1000ms 500ms;
	text-indent: 26px;
}
.active .bg32 p{
	transform: scale(1.6);
	-ms-transform: scale(1.6);
	-webkit-transform: scale(1.6);
	-o-transform: scale(1.6);
	-moz-transform: scale(1.6);
	/*-ms-transform-origin:center center;
	-webkit-transform-origin:center center;
	transform-origin:center center;*/
	transition: transform 1000ms 500ms;
	-webkit-transition:-webkit-transform 1000ms 500ms;
	-o-transition: transform 1000ms 500ms;
	-moz-transition: transform 1000ms 500ms;
}

/*       第四屏       */

.bg41{
    width:100%;
    height: 126px;
    position:absolute;
    left:0;
    top: 3%;
    background:url(../img/bg41.png) no-repeat center 0;
    opacity: 0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg41{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg42{
    width:100%;
    height: 398px;
    position:absolute;
    top:33%;
    background:url(../img/bg42.png) no-repeat center 0;
}
.bg421{
	width: 760px;
	height: 100%;
	margin: 0 auto;
	padding-top: 40px;
}
.bg4211{
	opacity: 0;
	transition:all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
	margin-top: 14px;
}
.bgtitle{
	font-size: 22px;
	color: #068BA3;
	letter-spacing: 4px;
}
.bg4211 p{
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 26px;
	line-height: 28px;
	letter-spacing: 3px;
}
.active .wordbox1{
	opacity: 1;
	transition-delay:0.7s;
	-webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.active .wordbox2{
	opacity: 1;
	transition-delay:1s;
	-webkit-transition-delay:1s;
	-o-transition-delay:1s;
	-moz-transition-delay:1s;
}
.active .wordbox3{
	opacity: 1;
	transition-delay:1.3s;
	-webkit-transition-delay:1.3s;
	-o-transition-delay:1.3s;
	-moz-transition-delay:1.3s;
}

/*       第五屏        */


.bg51{
    width:100%;
    height: 126px;
    position:absolute;
    left:0;
    top: 3%;
    background:url(../img/bg51.png) no-repeat center 0;
    opacity: 0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg51{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg52out{
	width: 100%;
	height: 338px;
	position: absolute;
	top: 35%;
}
.bg52box{
	width: 944px;
	height: 338px;
	margin: 0 auto;
}
.bg52{
    width:100%;
    height:338px;
    margin: 0 auto;
    position:relative;
    background:url(../img/bg52.png) no-repeat center 0;
}
.leftar{
	position: absolute;
	width: 104px;
	height: 102px;
	left: -24px;
	top: 92px;
	background:url(../img/leftar.png) no-repeat center center;
	animation: xuanzhuan1 3.6s linear infinite;
	-moz-animation:  xuanzhuan1 3.6s linear infinite; /* Firefox */
	-webkit-animation:  xuanzhuan1 3.6s linear infinite; /* Safari 和 Chrome */
	-o-animation: xuanzhuan1 3.6s linear infinite; /* Opera */
}
@-moz-keyframes xuanzhuan1{
    0%{
      -moz-transform:rotate(0deg);
     }
     50%{
      -moz-transform:rotate(180deg);
     }
     100%{
       -moz-transform:rotate(360deg);
     }
  }
  @-webkit-keyframes xuanzhuan1{
    0%{
      -webkit-transform:rotate(0deg);
     }
     50%{
      -webkit-transform:rotate(180deg);
     }
     100%{
       -webkit-transform:rotate(360deg);
     }
  }
  @keyframes xuanzhuan1{
    0%{
      transform:rotate(0deg);
     }
     50%{
      transform:rotate(180deg);
     }
     100%{
       transform:rotate(360deg);
     }
  }
.rightar{
	position: absolute;
	width: 104px;
	height: 102px;
	right: -24px;
	top: 92px;
	background:url(../img/leftar.png) no-repeat center center;
	animation: xuanzhuan2 3.6s linear infinite;
	-moz-animation:  xuanzhuan2 3.6s linear infinite; /* Firefox */
	-webkit-animation:  xuanzhuan2 3.6s linear infinite; /* Safari 和 Chrome */
	-o-animation: xuanzhuan2 3.6s linear infinite; /* Opera */
}
@-moz-keyframes xuanzhuan2{
    0%{
      -moz-transform:rotate(0deg);
     }
     50%{
      -moz-transform:rotate(-180deg);
     }
     100%{
       -moz-transform:rotate(-360deg);
     }
  }
  @-webkit-keyframes xuanzhuan2{
    0%{
      -webkit-transform:rotate(0deg);
     }
     50%{
      -webkit-transform:rotate(-180deg);
     }
     100%{
       -webkit-transform:rotate(-360deg);
     }
  }
  @keyframes xuanzhuan2{
    0%{
      transform:rotate(0deg);
     }
     50%{
      transform:rotate(-180deg);
     }
     100%{
       transform:rotate(-360deg);
     }
  }

/*       第六屏       */
.bg61{
    width:100%;
    height: 126px;
    position:absolute;
    left:0;
    top: 3%;
    background:url(../img/bg61.png) no-repeat center 0;
    opacity: 0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg61{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.bg61box{
	width: 100%;
	height: 420px;
	position: absolute;
	top: 32%;
}
.innerbox{
	width: 780px;
	height: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
}
.bg62{
    width:579px;
    height: 284px;
    margin-left:-507px;
    position:absolute;
    left:50%;
    bottom:20%;
    background:url(img/bg62.png) no-repeat 0 0;
    left:10%;
    opacity:0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg62 {
    left: 50%;
    opacity: 1;
    transition-delay: 0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.text6{
    width:447px;
    height:auto;
    margin-left:90px;
    position:absolute;
    left:50%;
    bottom:20%;
    font-size:6px;
    left:90%;
    opacity:0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .text6 {
    left: 50%;
    opacity: 1;
    transition-delay: 0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
.text6 p{
    width:100%;
    height:auto;
    padding-bottom:17px;
    font-size:12px;
    color:rgb(92, 121, 112);
}
.section6 strong{
    width:561px;
    margin-left:-280px;
}
.section6 h3{
    width:561px;
    margin-left:-280px;
    background:url(img/t6.png) no-repeat 0 0;
}
/*      第七屏       */
.bg71{
    width:100%;
    height: 126px;
    position:absolute;
    left:0;
    top: 3%;
    background:url(../img/bg71.png) no-repeat center 0;
    opacity: 0;
    transition:all 1s;
    -webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
}
.active .bg71{
    opacity:1;
    top: 12%;
    transition-delay:0.7s;
    -webkit-transition-delay:0.7s;
	-o-transition-delay:0.7s;
	-moz-transition-delay:0.7s;
}
/*       侧栏       */
#fp-nav ul li, .fp-slidesNav ul li{
    width:2px;
    height:23px;
    margin:0;
    margin-top:10px;
}
#fp-nav ul li a, .fp-slidesNav ul li a{
    background: url(../img/an.png) no-repeat;
}
#fp-nav ul li a.active, .fp-slidesNav ul li a.active{
    background: url(../img/liang.png) no-repeat;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width:0!important;
    height:0!important;
    backgorund:transparent!important;
}
#fp-nav ul li .fp-tooltip{
    color:#8F9DA4;
    font-size:12px;
    line-height:21px;
    top:0;
    right:23px!important;
}
.fixednav{
	width: 22px;
	height:19px;
	position: fixed;
	bottom:8.3%;
	z-index: 9999;
	left: 50%;
	cursor: pointer;
	animation: shangxia 1s linear infinite;
	-moz-animation: shangxia 1s linear infinite; /* Firefox */
	-webkit-animation: shangxia 1s linear infinite; /* Safari 和 Chrome */
	-o-animation: shangxia 1s linear infinite; /* Opera */
}
@-moz-keyframes shangxia{
    0%{
      -moz-transform:translateY(0);
      opacity: 1;
     }
     100%{
       -moz-transform:translateY(30px);
       opacity: 0;
     }
  }
  @-webkit-keyframes shangxia{
    0%{
      -webkit-transform:translateY(0);
      opacity: 1;
     }
     100%{
       -webkit-transform:translateY(30px);
       opacity: 0;
     }
  }
  @keyframes shangxia{
    0%{
      transform:translateY(0);
      opacity: 1;
     }
     100%{
       transform:translateY(30px);
       opacity: 0;
     }
  }