body{background:rgb(244,244,244);font-size:0.34rem}
.content{
	text-align:center;
	padding-top:1.9rem;
}
.content h4{font-weight:normal;}
.btn{
	display:block;
	width:6rem;
	height:0.88rem;
	text-align: center;
	line-height: 0.88rem;
	color:#fff;
	margin:0.8rem auto;
	border-radius:0.1rem;
	background:rgb(255,151,27);
}
.content img{
	width:2.22rem;
	margin-bottom:1rem;
}