.box{
	width: 100%;
	height: auto;
	background: #F4F4F4;
}
.bannerbox{
	width: 100%;
	height: 3rem;
}
.swiper-pagination-bullet{
    background-color:#fff;
    width:0.52rem;
    height:0.52rem;
    opacity:1;
    margin-top:0.2rem!important;
}
.swiper-pagination-bullet-active{
    background-color:#fff!important;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.section3{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	margin-top: .16rem;
}
.title-xinren{
	width: 100%;
	height: .94rem;
	background: url(../img/people.png) no-repeat;
	background-size: .32rem .32rem;
	background-position: .42rem .3rem;
	border-bottom: .01rem solid #EDEDED;
}
.title-xinren p{
	font-family: "微软雅黑";
	font-size: .3rem;
	color: #333333;
	line-height: .94rem;
	padding-left: .82rem;
}
.xinshoubiao{
	width: 7.08rem;
	height: auto;
	margin-left: .42rem;
}
.biao-box{
	width: 100%;
	height: 2.2rem;
	border-bottom: .01rem solid #EDEDED;
}
.xinshoubiao-title{
	font-family: "微软雅黑";
	font-size: .26rem;
	color: #666666;
	line-height: 1rem;
}
.hongbao{
	width: auto;
	height: .38rem;
	margin-left: .16rem;
	border: .01rem solid #FCAD98;
	display: inline-block;
	border-radius: .19rem;
	text-align: center;
	padding: 0 .2rem;
	line-height: .42rem;
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #FB8F78;
}
.jiaxiquan{
	width: auto;
	height: .38rem;
	margin-left: .16rem;
	border: .01rem solid #F3DD92;
	display: inline-block;
	border-radius: .19rem;
	text-align: center;
	padding: 0 .2rem;
	line-height: .42rem;
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #EAC23F;
}
.biao-left{
	width: 2rem;
	height: 1.1rem;
	display: inline-block;
	float: left;
}
.percent{
	font-family: "微软雅黑";
	font-size: .4rem;
	color: #FA5C31;
	display: inline;
}
.percent span{
	font-family: "微软雅黑";
	font-size: .26rem;
	color: #FA5F36;
	margin-left: .05rem;
}
.lookforward{
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #B1B1B1;
}
.biao-center{
	width: 2rem;
	height: 1.1rem;
	display: inline-block;
	margin-left: .2rem;
	float: left;
}
.time{
	font-family: "微软雅黑";
	font-size: .38rem;
	color: #666666;
	margin-top: .02rem;
}
.time span{
	font-family: "微软雅黑";
	font-size: .26rem;
	color: #666666;
	margin-left: .05rem;
	vertical-align: middle;
}
.lock{
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #B1B1B1;
}
.biao-right{
	width: 2rem;
	height: 1.1rem;
	display: inline-block;
	float: right;
}
.limitbottom{
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #999999;
	margin-top: .2rem;
	line-height: .38rem;
}
.limittop{
	font-family: "微软雅黑";
	font-size: .24rem;
	color: #999999;
}