.czz-container{padding-top:30px}
.czz-txt{width:920px;margin:0 auto;background:#fff;padding:20px 40px;color:#999;line-height: 24px;}
.czz-bt{font-size:24px;text-align: center;line-height: 48px;}
.czz-content{font-size:14px;text-indent:24px;}
.czz-txtBt{font-size:16px;line-height: 36px;color:#666 !important;}
table{border:1px solid #d7d7d7}
.czz-title2{text-align: left;padding-left: 10px;width: 160px;}
.czz-title1{text-align: right;padding-right: 10px;}
