.outerbox{
	width: 100%;
	height: auto;
	background: #f4f4f4;
}
.bannerbox{
	width: 100%;
	height:360px;
	background: #f4f4f4;
}
.bannercontainerfirst{
	width:100%;
	height:100%;
	margin:0 auto;
}
.bannercontainer{
	width:100%;
	height:100%;
	margin:0 auto;
    position: relative;
}
.bannerinner{
	width: 100%;
	height: 360px;
	position: absolute;
    top: 0px;
    left: 0px;
}
.banneritem{
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.banneritem1{
	background: url(../img/lb1.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem2{
	background: url(../img/lb2.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem3{
	background: url(../img/lb3.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem4{
	background: url(../img/lb4.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem5{
	background: url(../img/lb5.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem6{
	background: url(../img/lb6.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem7{
	background: url(../img/lb7.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.banneritem8{
	background: url(../img/lb8.jpg) no-repeat center center;
	background-size: 1920px 360px;
}
.right{
    width: 30px;
    height: 60px;
    background-color: #2C1A30;
    font-family: "微软雅黑";
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: #F7F3EA;
    position: absolute;
    top: 140px;
    right: 0px;
    display: none;
    opacity: 0.2;
    z-index: 3;
    cursor: pointer;
}
.left{
    width: 30px;
    height: 60px;
    background-color: #2C1A30;
    font-family: "微软雅黑";
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: #F7F3EA;
    position: absolute;
    top: 140px;
    left: 0px;
    display: none;
    opacity: 0.2;
    z-index: 3;
    cursor: pointer;
}
.bannercontainer:hover .right{
    display: block;
}
.bannercontainer:hover .left{
    display: block;
}
.bannercontainer .right:hover{
    opacity: 1;
}
.bannercontainer .left:hover{
    opacity: 1;
}
.anniucontainer{
	width: 100%;
	height: 26px;
	margin: 0 auto;
	z-index: 99;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.anniuinner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.anniubox{
    height: 26px;
    border-radius: 11px;
    z-index: 999;
    display: inline-block;
}
.anniubox .anniu{
    width: 136px;
    height: 100%;
    background-color: #999;
    opacity: 0.8;
    float: left;
    margin-left: 10px;
    border-radius: 5px 5px 0 0;  
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}
.anniubox .first{
    background: #fff;
    color: #ffa540;
}
.loginarea1{
	width: 270px;
	height: 280px;
	position: absolute;
	right: 0;
	bottom: 48px;
	background: rgba(0,0,0,.3);
}
.yearreturn{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	margin-top: 40px;
}
.returnnumber{
	font-family: "微软雅黑";
	font-size: 36px;
	color: #fff;
	margin-top: 22px;
}
.newuser{
	width: 200px;
	height: 38px;
	border-radius: 4px;
	background: #ffa540;
	margin-left: 35px;
	margin-top: 35px;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	margin-top: 25px;
}
.activate{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	font-weight: 100;
}
.userlogin{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
	font-weight: 100;
}

.loginarea2{
	width: 270px;
	height: 280px;
	position: absolute;
	right: 0;
	bottom: 48px;
	background: rgba(0,0,0,.3);
	display: none;
}
.yearreturn2{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	margin-top: 60px;
}
.returnnumber2{
	font-family: "微软雅黑";
	font-size: 36px;
	color: #fff;
	margin-top: 22px;
}
.newuser2{
	width: 200px;
	height: 38px;
	border-radius: 4px;
	background: #ffa540;
	margin-left: 35px;
	margin-top: 35px;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 38px;
	color: #fff;
	margin-top: 30px;
}
.activate2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	font-weight: 100;
}
.userlogin2{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
	font-weight: 100;
}
.tradecountbox{
	width: 100%;
	height: 60px;
	background: #fff;
}
.tradecountinner{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.tradecountinner li{
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
}
.tradecountinner li p{
	display: inline-block;
	line-height: 60px;
	float: left;
}
.uzitrendsbox{
	width: 100%;
	height: 60px;
	background: #fff;
	margin-top: 2px;
}
.uzitrendsinner{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.dongtai{
	width: 1200px;
	display: inline-block;
	line-height: 60px;
	height: 60px;
} 
.leftfix{
	width: 100px;
	height: 60px;
	float: left;
}
.dongtai .leftfix img{
	width: 18px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.dongtai .leftfix p{
	display: inline-block;
	font-size: 14px;
	color: #666;
}
.ulouter{
	width: 800px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
}
.dongtai ul{
	width: 800px;
	float: left;
}
.dongtai li{
	width: 800px;
	height: 60px;
	float: left;
	color: #666;
	font-size: 14px;
	line-height: 66px;
	position: relative;
	display: inline-block;
}
.rightmore{
	float: right;
	display: inline-block;
	color: #666;
	font-size: 14px;
}
.middlebox{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 50px;
}
.middlesec1{
	width: 1200px;
	height: 155px;
	background: #fff;
}
.middlesec1 li{
	width: 25%;
	height: 100%;
	float: left;
	display: inline-block;
	text-align: center;
	line-height: 155px;
}
.middlesec1 li img{
	width: 66px;
	height: 66px;
	vertical-align: middle;
	display: inline-block;
}
.zaixian{
	width: 180px;
	height: 60px;
	display: inline-block;
}
.liinner{
	transition: margin-top 1s;
	-moz-transition: margin-top 1s;	/* Firefox 4 */
	-webkit-transition: margin-top 1s;	/* Safari 和 Chrome */
	-o-transition: margin-top 1s;
}
.liinner:hover{
	margin-top: -10px;
}
.mt-number-animate{ font-family: '微软雅黑'; line-height:20px; height: 20px;/*设置数字显示高度*/; font-size: 24px;/*设置数字大小*/ overflow: hidden; display: inline-block; position: relative; }
.mt-number-animate .mt-number-animate-dot{ /*设置分割符宽度*/ line-height: 40px; float: left; text-align: center;position: relative; top: 6px;}
.mt-number-animate .mt-number-animate-dom{ width: 14px;/*设置单个数字宽度*/ text-align: center; float: left; position: relative; top: 6px;}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}

.middlesec2{
	width: 100%;
	height: 200px;
	margin-top: 18px;
}
.sec2left{
	width: 230px;
	height: 200px;
	background: url(../img/newuser.png) no-repeat center center;
	float: left;
}
.topword{
	padding-top: 20px;
	padding-left: 27px;
	font-size: 24px;
	color: #ffffff;
}
.bottomword{
	float: left;
	font-size: 12px;
	color: #fff;
	padding-top: 10px;
	padding-left: 28px;
	width: 100%;
}
.sec2middle{
	width: 484px;
	height: 100%;
	float: left;
	margin-right: 2px;
	background: #fff;
}
.sec2right{
	width: 484px;
	height: 100%;
	float: left;
	background: #fff;
}
.sec2inner{
	width: 364px;
	height: 134px;
	margin: 33px auto;
}
.newuserbiao{
	height: 28px;
}
.yuanjiao{
	height: 22px;
	background: #ffa540;
	border-radius: 11px;
	float: left;
	margin-top: 3px;
	padding: 0 22px;
	font-size: 14px;
	text-align: center;
	line-height: 22px;
	margin-right: 11px;
	color: #ffffff;
}
.biaodi{
	float: left;
	font-size: 20px;
	color: #333333;
	margin-right: 9px;
}
.sec2nianhua{
	width: 240px;
	height: 62px;
	float: left;
	margin-top: 26px;
	padding-top: 18px;
}
.nianhuanumber{
	font-size: 36px;
	color: #ff4e04;
}
.miaoshu{
	font-size: 16px;
	color: #666666;
	padding-top: 6px;
}
.sec2liji{
	width: 94px;
	height: 34px;
	border: 1px solid #ffa540;
	border-radius: 4px;
	float: right;
	margin-top: 70px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color: #ffa540;
}

/*柚惠系列*/
.middlesec3{
	width: 100%;
	height: auto;
	margin-top: 18px;
	background: #fff;
}
.sec3right{
	width: 970px;
	height: auto;
	float: right;
}
.sec3left{
	width: 230px;
	float: left;
	background: #eaeef2 url(../img/meiweibg.png) no-repeat bottom right;
	position: relative;
}
.sec2left{
	width: 230px;
	height: 200px;
	float: left;
}
.biaoinner{
	width: 922px;
	height: 199px;
	margin: 0 auto;
	border-bottom: 1px solid #ececec;
}
.jianbian{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
	opacity: .7;
    background: #fca444;
    background: -moz-linear-gradient(top,  #fca444 0%, #ffc78a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca444), color-stop(100%,#ffc78a));
    background: -webkit-linear-gradient(top,  #fca444 0%,#ffc78a 100%);
    background: -o-linear-gradient(top,  #fca444 0%,#ffc78a 100%);
    background: -ms-linear-gradient(top,  #fca444 0%,#ffc78a 100%);
    background: linear-gradient(to bottom,  #fca444 0%,#ffc78a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca444', endColorstr='#ffc78a',GradientType=0 );
}
:root .gradient{filter:none;}
.firstline{
	width: 100%;
	height: 26px;
	padding-top: 24px;
}
.biaoinner1{
	width: 856px;
	height: 100%;
	margin: 0 auto;
}
.shouyilv{
	width: 110px;
	height: 80px;
	float: left;
	margin-top: 26px;
}
.shouyinumber{
	font-size: 36px;
	color: #ff4e04;
}
.shouyiword{
	font-size: 14PX;
	color: #666666;
	padding-top: 6px;
}
.buynow{
	width: 96px;
	height: 36px;
	background: #ffa540;
	border-radius: 4px;
	float: right;
	margin-top: 60px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 36px;
}
.kaikou{
	position: absolute;
	right: 0;
	top: 45%;
}
.jindutiao1{
	width: 800px;
	height: 2px;
	background: #eeeeee;
	float: left;
	margin-top: 16px;
	position: relative;
}
.baifenbi{
	width: 40px;
	height: 16px;
	float: left;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 16px;
	color: #666;
}
.shishi1{
	width: 400px;
	height: 2px;
	background: #ffa540;
	position: absolute;
	left: 0;
	top: 0;
}
.sec3left4{
	width: 230px;
	height: 400px;
	float: left;
	background: #eaeef2 url(../img/sec4left.png) no-repeat center center;
}
.middlesec5{
	width: 100%;
	height: 340px;
	background: #fff;
	margin-top: 18px;
}
.sec5top{
	width: 1176px;
	height: 54px;
	padding-left: 24px;
}
/*媒体报道*/
.hangye{
	width: 76px;
	height: 100%;
	display: inline-block;
	float: left;
	border-bottom: 2px solid #ffa540;
	margin-right: 60px;
	text-align: center;
	line-height: 64px;
	color: #ffa540;
	font-size: 18px;
	cursor: pointer;
}
/*行业资讯*/
.meiti{
	width: 76px;
	height: 100%;
	display: inline-block;
	float: left;
	border: none;
	text-align: center;
	line-height: 64px;
	color: #333;
	font-size: 18px;
	cursor: pointer;
}
.zixunmore{
	width: 86px;
	height: 100%;
	display: inline-block;
	float: right;
	text-align: center;
	line-height: 64px;
	color: #666;
	font-size: 14px;
	padding-right: 54px;
}
.zixunmore a{
	text-align: center;
	line-height: 64px;
	color: #666;
	font-size: 14px;
}
.hycontent{
	width: 1116px;
	height: 240px;
	margin: 20px 60px 20px 24px;
	position: absolute;
	background: #fff;
}
.hypic{
	width: 330px;
	height: 230px;
	background: blue;
	margin-top: 5px;
	float: left;
}
.hydetail{
	width: 762px;
	height: 230px;
	float: right;
	margin-top: 5px;
}
.detailline{
	width: 100%;
	height: 74px;
	float: left;
}
.detailtitle{
	width: 100%;
	height: 20px;
}
.dettitle{
	height: 100%;
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.dettime{
	height: 100%;
	float: right;
	font-size: 12px;
	color: #999;
	line-height: 20px;
}
.xiangqing{
	height: 20px;
	float: left;
	font-size: 14px;
	color: #999;
	margin-top: 16px;
}
.mtpiclunbo{
	width: 330px;
	height: 230px;
	margin-top: 5px;
	float: left;
	background: red;
	overflow: hidden;
}
.middlesec6{
	width: 1232px;
	height: 80px;
	margin-left: -32px;
	position: relative;
	padding-left: 32px;
}
.sec6container{
	width: 1200px;
	height: 100%;
	overflow: hidden;
}
.hezuoword{
	font-size: 18px;
	color: #333;
	line-height: 70px;
	margin-top: 10px;
}
.sec6inner{
	width: 8136px;
	height: 100%;
}
.contacts{
	width: 180px;
	height: 100%;
	float: left;
	margin-right: 24px;
}
.sec6left{
	width: 13px;
	height: 23px;
	position: absolute;
	top: 28px;left: 0;
}
.sec6right{
	width: 13px;
	height: 23px;
	position: absolute;
	top: 28px;right: 0;
}
 .mtinner{
	width: 330px;
	height: 230px;
	background-color: blue;
	float: left;
	position: relative;
}
.mtitem1{
	width: 330px;
	height: 230px;
	float: left;
	background-color: red;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
    z-index: 1;
}
.mtitem2{
	width: 330px;
	height: 230px;
	float: left;
	background-color: blue;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.mtitem3{
	width: 330px;
	height: 230px;
	float: left;
	background-color: green;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.mtitem4{
	width: 330px;
	height: 230px;
	float: left;
	background-color: yellow;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.mtitem5{
	width: 330px;
	height: 230px;
	float: left;
	background-color: pink;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.mtbtnbox{
	width: 140px;
	height: 20px;
	background-color: black;
	position: absolute;
	left: 95px;bottom: 20px;
    z-index: 999;
}
.mtbtn{
	width: 20px;
	height: 20px;
	float: left;
	background-color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 50%;
}

.hypiclunbo{
	width: 330px;
	height: 230px;
	margin-top: 5px;
	float: left;
	background: red;
	overflow: hidden;
}
 .hyinner{
	width: 330px;
	height: 230px;
	background-color: blue;
	float: left;
	position: relative;
}
.hyitem1{
	width: 330px;
	height: 230px;
	float: left;
	background-color: red;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
    z-index: 1;
}
.hyitem2{
	width: 330px;
	height: 230px;
	float: left;
	background-color: blue;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.hyitem3{
	width: 330px;
	height: 230px;
	float: left;
	background-color: green;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.hyitem4{
	width: 330px;
	height: 230px;
	float: left;
	background-color: yellow;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.hyitem5{
	width: 330px;
	height: 230px;
	float: left;
	background-color: pink;
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
    position: absolute;
    left: 0;top: 0;
}
.hybtnbox{
	width: 140px;
	height: 20px;
	background-color: black;
	position: absolute;
	left: 95px;bottom: 20px;
    z-index: 999;
}
.hybtns{
	width: 20px;
	height: 20px;
	float: left;
	background-color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 50%;
}